/* Add CSS reset to ensure consistent styling across different browsers */
html, body, h1, h2, h3, p, ul, li, form, label, input, textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin-bottom: 0;
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

header nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
}

section {
  width: 80%;
  background-color: #fff;
  padding: 40px;
  margin: 40px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label, input, textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: none;
  border-radius: 5px;
}

label {
    text-align: left;
    box-shadow: none;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
